button{background-color:gray;}
#green{background-color:green; color:white;}
.primary{background-color:blue; color:white;}
div{ background-color: #eee;}
.highlight{ background-color: #ffeb3b;}
#VIP{background-color: #f44336;}