body {
  margin: 0;
}
#wrapper {
  display: grid;
  gap: 10px;
}
#wrapper > * {
  background-color: rgb(61, 113, 56);
  padding: 1em;
  font-size: 1.2em;
  color: aliceblue;
  font-weight: bold;
}
header {
  position: relative;
  min-width: 80px;
  height: 100px;
}
nav ul {
  padding-left: 0.5em;
}
nav li {
  display: inline-block;
  margin-right: 1em;
  color: black;
}
#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  height: 64px;
  line-height: 64px;
  cursor: pointer;
}
main div {
  margin: 1em;
  padding: 1em;
  height: 67vh;
  font-weight: normal;
  color: brown;
  background-color: aqua;
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
  #menu:hover + nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #menu:hover{ background-color: lightpink;}
  }
  nav li {
    display: block;
    margin: 1em;
  }
  ul {
    margin-top: 2em;
  }

@media (min-width: 801px) {
  #menu {
    display: none;
  }
  #wrapper {
    grid-template-columns: 200px 1fr;
  }
  header,
  footer {
    grid-column: span 2;
  }
}
