body{
    padding: 16px 32px;
}

section{
    margin: 12px 0;
    padding:8px 24px;
    background-color: aliceblue;
    border-radius: 12px;
}

section.plant{
    background-color: rgb(63, 119, 102);
}

.soldout { 
    opacity: 0.3;
}